{% extends 'catalog/base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col-9">
        {% for contact in object_list %}
        <table class="table table-hover">
            <tr>
                <td class="w-25">Страна</td>
                <td>{{ contact.country }}</td>
            </tr>
            <tr>
                <td class="w-25">Телефон</td>
                <td>{{ contact.phone }}</td>
            </tr>
            <tr>
                <td class="w-25">Адрес</td>
                <td>{{ contact.address }}</td>
            </tr>
        </table>
        {% endfor %}
    </div>

    <div class="col-3">
        {% include 'catalog/includes/inc_contact_send.html' %}
    </div>
</div>
{% endblock %}