{% extends 'catalog/base.html' %}

{% block content %}
<style>
    #lol:link {
        background-color: transparent;
        text-decoration: none;
    }

    #lol:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }

    #lol:hover {
        color: red;
        background-color: transparent;
    }
</style>

<main class="row" style="width: 84rem;">
    <div class="row text-center">
        <div class="card mb-5 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4>FAQ</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title mb-4 pricing-card-title">Часто возникающие вопросы:</h3>
                <p class="d-grid gap-3 d-md-flex">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample1" aria-expanded="false"
                            aria-controls="multiCollapseExample1">Как купить?
                    </button>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample2" aria-expanded="false"
                            aria-controls="multiCollapseExample2">Как доставить?
                    </button>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample3" aria-expanded="false"
                            aria-controls="multiCollapseExample3">Где гарантия?
                    </button>
                </p>
                <div class="row">
                    <div class="collapse multi-collapse col" id="multiCollapseExample1">
                        <div class="card card-body">
                            Вызов кнопки 1
                        </div>
                    </div>
                    <div class="collapse multi-collapse col" id="multiCollapseExample2">
                        <div class="card card-body">
                            Вызов кнопки 2
                        </div>
                    </div>
                    <div class="collapse multi-collapse col" id="multiCollapseExample3">
                        <div class="card card-body">
                            Вызов кнопки 3
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<main class="row" style="width: auto;">
    <div class="card mb-4 rounded-3 shadow-sm">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Описание</th>
                <th scope="col">Цена за шт.</th>
                <th scope="col">Итого</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for product in object_list %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a id="lol" href="{% url 'catalog:product' product.pk %}">{{ product.name }}</a></td>
                <td>{{ product.desc | truncatechars:100 }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.price }}</td>
                <td class="table-primary">Новый</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</main>
{% endblock %}