{% extends 'catalog/base.html' %}

{% block content %}
<style>
    #lol:link {
        background-color: transparent;
        text-decoration: none;
    }

    #lol:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }

    #lol:hover {
        color: red;
        background-color: transparent;
    }
    /* Базовые стили слоя затемнения и модального окна  */
    .overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        /* фон затемнения */
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        position: fixed;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
    }

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

    /*** Стили модального окна ***/
    .popup {
        top: 0;
        right: 0;
        left: 0;
        font-size: 14px;
        z-index: 10;
        display: block;
        visibility: hidden;
        margin: 0 auto;
        min-width: 320px;
        max-width: 600px;
        /* окно стабильно при прокрутке */
        position: fixed;
        padding: 15px;
        border: 1px solid #383838;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
        opacity: 0;
        /* эффект перехода (появление) */
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    /* появление окна и затемнение фона */
    .overlay:target+.popup {
        top: 20%;
        visibility: visible;
        opacity: 1;
    }
    /* кнопка закрытия */
    .close {
        position: absolute;
        top: -6px;
        right: -6px;
        padding: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: rgba(100, 100, 100, 1);
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        line-height: 16.7px;
        transition: all ease 0.4s;
    }
    .close:before {
        color: rgba(255, 255, 255, 1);
        content: "X";
        text-shadow: 0 -1px rgba(0, 0, 0, 1);
        font-size: 14px;
    }
    .close:hover {
        background-color: rgba(252, 20, 0, 1);
    }
</style>

<main class="row" style="width: 84rem;">
    <div class="row text-center">
        <div class="card mb-5 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4>FAQ</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title mb-4 pricing-card-title">Часто возникающие вопросы:</h3>
                <p class="d-grid gap-3 d-md-flex">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample1" aria-expanded="false"
                            aria-controls="multiCollapseExample1">Как купить?
                    </button>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample2" aria-expanded="false"
                            aria-controls="multiCollapseExample2">Как доставить?
                    </button>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample3" aria-expanded="false"
                            aria-controls="multiCollapseExample3">Где гарантия?
                    </button>
                </p>
                <div class="row">
                    <div class="collapse multi-collapse col" id="multiCollapseExample1">
                        <div class="card card-body">Вызов кнопки 1</div>
                    </div>
                    <div class="collapse multi-collapse col" id="multiCollapseExample2">
                        <div class="card card-body">Вызов кнопки 2</div>
                    </div>
                    <div class="collapse multi-collapse col" id="multiCollapseExample3">
                        <div class="card card-body">Вызов кнопки 3</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<main class="row" style="width: auto;">
    <div class="card mb-4 rounded-3 shadow-sm">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Описание</th>
                <th scope="col">Цена за шт.</th>
                <th scope="col">Итого</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for product in product_list %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a id="lol" href="{% url 'catalog:product' product.pk %}">{{ product.name }}</a></td>
                <td>{{ product.desc | truncatechars:100 }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.price }}</td>
                <td class="table-primary">Новый</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="d-grid gap-3 d-md-flex">
            <a href="#add" type="button" class="w-100 btn btn-lg btn-outline-primary">Добавить продукт
            </a>
        </p>
    </div>
</main>
<main>
    <div class="row">
        <a href="/" class="overlay" id="add"></a>
        <div class="popup">
            <div class="container">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Введите название продукта" required>
                    </div>
                    <div class="mb-3">
                                <textarea name="desc" class="form-control" id="desc"
                                          placeholder="Введите описание продукта" required></textarea>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="formFile" name="image">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="category">
                            <option selected></option>
                            {% for category in catalog_list %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">₽</span>
                        <input type="text" name="price" class="form-control" id="price"
                               placeholder="Введите цену продукта" aria-label="Amount (to the nearest ruble)" required>
                        <span class="input-group-text">.00</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
            <a class="close" title="Закрыть" href="/"></a>
        </div>
    </div>
</main>
{% endblock %}