{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<main class="row" style="width: auto;">
    <div class="container">
        <div class="row text-center">
            <div class="card" style="border-color: transparent;">
                <div class="card-body">
                    <img src="{{ object.image|media_filter }}" class="image" alt="...">
                    <p class="card-text"> Описание: {{ object.desc }}</p>
                    <p class="card-text"> Категория: {{ object.category }}</p>
                    <p class="card-text"> Цена: {{ object.price }}</p>
                    <p class="card-text"> Дата создания: {{ object.created_at }}</p>
                    <p class="card-text"> Дата изменения: {{ object.updated_at }}</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'catalog:homepage' %}" class="btn btn-primary px-md-4"><- Назад</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn btn-danger px-md-4">Удалить X</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}